
/*Version tablette 768px à 992px specifications*/


@media screen and (min-width: 768px) and (max-width: 992px) {

body
{
    font-family: 'Raleway', Arial, sans-serif;
}

/* 1)Eléments principaux de la page */

/* 2)Navigation */

nav
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* 3)Header */

/* 4)Barre de recherche */

/* 5)Filtres */

/* 6)Main */
/* a)Hebergements */
#hebergements 
{
    width: 750px;  
    align-items: center;
    margin: 20px 20px 10px 10px ;  
}
#hebergements h2
{ 
    margin: 25px 300px 10px 30px ;  
}
#cannebiere
{
    margin: 25px 10px 15px 30px ;
}
#port
{
    margin: 25px 10px 20px 20px ;
}
#mouettes
{
    margin: 25px 10px 15px 30px ;
}
#mer
{
    margin: 25px 10px 20px 20px ;
}
#panier
{
    margin: 25px 10px 15px 30px ;
}
#amina
{
    margin: 25px 10px 20px 20px ;
}

/* b)Populaires */

/* c)Activites */

#activites
{
    width: 900px;
    margin: 20px 10px 10px 10px ;  
}
#activites h2
{
    font-size: 1.4em ;
    font-weight: bold;
    margin: 10px 140px 10px 0px ; 
    padding-right: 180px;
    margin: 25px 300px 10px 30px ; 
}

/* 7)Footer */

}