
/*Version desktop first +992px specifications*/
/* 1)Eléments principaux de la page */

body
{
    font-family: 'Raleway', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/* 2)Navigation */

nav
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav ul
{
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav li
{
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 15px;
}
nav li:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 40px;
}
nav img
{
 width: 110px;
 height: 70px;
 object-fit: cover;
 margin: 30px 0px 20px 20px ;
}
nav img:hover
{
    border: 5px solid #ffffff;
    border-radius: 15px;
    background-color:#ffffff;
}
/* 3)Header */

header h1
{
    font-size: 1.6em ;
    font-weight: bold;
    margin: 20px 5px 0px 30px ;
}
header h3
{
    color : #737373 ;
    font-size: 1em ;
    font-weight: normal ;
    margin: 5px 5px 30px 35px ;
}

/* 4)Barre de recherche */

span
{
    display: flex;
    justify-content: flex-start;
    margin: 0px 0px 30px 35px ;  
}
span i
{
    text-align: center;
    border: 10px solid #F2F2F2;
    border-bottom-left-radius: 10px ;
    border-top-left-radius: 10px ;
    background-color: #F2F2F2;
}
span i:hover
{
    color:#FFAD05
}
span input 
{
    width: 250px;
    height: 38px;
    font-size: 1em;
    border: 1px solid #F2F2F2;
    border-radius: 0px;
    background-color: #FFFFFF; 
    padding-left: 10px;
}
span a
{
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    border: 10px solid #0065FC;
    border-bottom-right-radius: 10px ;
    border-top-right-radius: 10px ;
    background-color: #0065FC;
}
span a:hover
{
    color: #181818;
}

/* 5)Filtres */

#filtres 
{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color:#ffffff;
}

#filtres h2
{
    font-size: 1.2em ;
    font-weight: bold;
    margin: 15px 10px 10px 35px ;
}

#economique 
{
    width: 160px ;
    position: relative;
    border: 1px solid #DBDADA;
    border-radius: 100px;
    box-shadow: 0px 0px 1px #5a5959;    
    margin: 10px 0px 10px 10px ;   
}
#economique h3
{
    font-size: 1em ;
    font-weight: bold;
    position: absolute;
    top: -8px;
    right: 18px;
}
#economique h3:hover
{
    color: #0065FC;
}
#economique i
{
   color: #0065FC;
   border: 10px solid #DEEBFF;
   border-radius: 100px;
   background-color: #DEEBFF;
}
#famille 
{
    width: 110px ;
    position: relative;
    border: 1px solid #DBDADA;
    border-radius: 100px;
    box-shadow: 0px 0px 1px #5a5959;    
    margin: 10px 0px 10px 10px ;      
}
#famille h3 
{
    font-weight: bold;
    font-size: 1em ;
    position: absolute;
    top: -8px;
    right: 18px;
}
#famille h3:hover
{
    color: #0065FC;
}
#famille i
{
   color: #0065FC;
   border: 10px solid #DEEBFF;
   border-radius: 100px;
   background-color: #DEEBFF;
}
#romantique
{
    width: 160px ;
    position: relative;
    border: 1px solid #DBDADA;
    border-radius: 100px;
    box-shadow: 0px 0px 1px #5a5959;    
    margin: 10px 0px 10px 10px ;   
}
#romantique h3
{
    font-size: 1em ;
    font-weight: bold;
    position: absolute;
    top: -8px;
    right: 18px;
}
#romantique h3:hover
{
    color: #0065FC;
}
#romantique i
{
    color: #0065FC;
    border: 10px solid #DEEBFF;
    border-radius: 100px;
    background-color: #DEEBFF;
}
#animaux
{
    width: 200px ;
    position: relative;
    border: 1px solid #DBDADA;
    border-radius: 100px; 
    box-shadow: 0px 0px 1px #5a5959;    
    margin: 10px 0px 10px 10px ;    
}
#animaux h3
{
    font-size: 1em ;
    font-weight: bold;
    position: absolute;
    top: -8px;
    right: 18px;
}
#animaux h3:hover
{
    color: #0065FC;
}
#animaux i
{
color: #0065FC;
border: 10px solid #DEEBFF;
border-radius: 100px;
background-color: #DEEBFF;
}

aside
{
    display: flex;
    color : #707070;
    font-size: 0.6em ;
    font-weight: normal ;  
    margin: 5px 0px 0px 30px ; 
}
aside i
{
    height: 14px;
    width: 14px ;
    text-align: center;
    padding-top: 2px;
    background-color: #ffffff;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 100px;
    line-height: 20px;
    margin: 5px 15px 0px 10px ; 
    box-shadow: 0px 0px 2px #545454;
}
aside i:hover
{
    color: #FFAD05;
}

/* 6)Main */

strong
{
    color : #181818;
}
main
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* a)Hebergements */

#hebergements 
{
    width: 850px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border: 0px solid #f2f2f2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#F2F2F2;  
    margin: 20px 0px 10px 0px ;  
}
#hebergements h2
{
    font-size: 1.2em;
    font-weight: bold;
    border: 3px solid #f2f2f2;
    border-radius: 20px;
    background-color:#F2F2F2;  
    margin: 25px 400px 10px 30px ;  
}

#cannebiere
{
    width: 230px;
    height: 180px;
    position: relative;
    border: 4px solid #FFFFFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color:#FFFFFF; 
    margin: 25px 20px 20px 28px ;
    box-shadow: 0px 0px 5px #7f7f7f;
}
#cannebiere:hover
{
    color: #0065FC;
}
#cannebiere img
{
    width: 230px;
    height: 90px;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px;
    object-fit: cover;
}
#cannebiere h4
{
    font-size: 0.9em ;
    margin: 5px 5px 5px 15px ;
}
#cannebiere p
{
    font-size: 0.7em ; 
    margin: 5px 5px 0px 15px ;
}
#cannebiere i
{
    color:#0065FC;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
}
#cannebiere span i
{
    position: absolute;
    top: 150px;
    left: 77px;
    color:#c1c1c1;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
}

#port
{
    width: 230px;
    height: 180px;
    position: relative;
    border: 4px solid #FFFFFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color:#FFFFFF; 
    margin: 25px 20px 20px 15px ;
    box-shadow: 0px 0px 5px #7f7f7f;
}
#port:hover
{
    color: #0065FC;
}
#port img
{
    width: 230px;
    height: 90px;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px;
    object-fit: cover;
}
#port h4
{
    font-size: 0.9em ;
    margin: 5px 5px 5px 15px ;
}
#port p
{
    font-size: 0.7em ; 
    margin: 5px 5px 0px 15px ;
}
#port i
{
    color:#0065FC;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
}
#port span i
{
    position: absolute;
    top: 150px;
    left: 77px;
    color:#c1c1c1;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
}

#mouettes
{
    width: 230px;
    height: 180px;
    position: relative;
    border: 4px solid #FFFFFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color:#FFFFFF; 
    margin: 25px 20px 20px 15px ;
    box-shadow: 0px 0px 5px #7f7f7f;
}
#mouettes:hover
{
    color: #0065FC;
}
#mouettes img
{
    width: 230px;
    height: 90px;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px;
    object-fit: cover;
}
#mouettes h4
{
    font-size: 0.9em ;
    margin: 5px 5px 5px 15px ;
}
#mouettes p
{
    font-size: 0.7em ; 
    margin: 5px 5px 0px 15px ;
}
#mouettes i
{
    color:#0065FC;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
}
#mouettes span i
{
    position: absolute;
    top: 150px;
    left: 77px;
    color:#c1c1c1;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
}

#mer
{
    width: 230px;
    height: 180px;
    position: relative;
    border: 4px solid #FFFFFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color:#FFFFFF; 
    margin: 25px 20px 20px 28px ;
    box-shadow: 0px 0px 5px #7f7f7f;
}
#mer:hover
{
    color: #0065FC;
}
#mer img
{
    width: 230px;
    height: 90px;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px;
    object-fit: cover;
}
#mer h4
{
    font-size: 0.9em ;
    margin: 5px 5px 5px 15px ;
}
#mer p
{
    font-size: 0.7em ; 
    margin: 5px 5px 0px 15px ;
}
#mer i
{
    color:#0065FC;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
}
#mer span i
{
    position: absolute;
    top: 150px;
    left: 77px;
    color:#c1c1c1;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
}

#panier
{
    width: 230px;
    height: 180px;
    position: relative;
    border: 4px solid #FFFFFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color:#FFFFFF; 
    margin: 25px 20px 20px 15px ;
    box-shadow: 0px 0px 5px #7f7f7f;
}
#panier:hover
{
    color: #0065FC;
}
#panier img
{
    width: 230px;
    height: 90px;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px;
    object-fit: cover;
}
#panier h4
{
    font-size: 0.9em ;
    margin: 5px 5px 5px 15px ;
}
#panier p
{
    font-size: 0.7em ; 
    margin: 5px 5px 0px 15px ;
}
#panier i
{
    color:#0065FC;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
}
#panier span i
{
    position: absolute;
    top: 150px;
    left: 77px;
    color:#c1c1c1;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
}

#amina
{
    width: 230px;
    height: 180px;
    position: relative;
    border: 4px solid #FFFFFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color:#FFFFFF; 
    margin: 25px 20px 20px 15px ;
    box-shadow: 0px 0px 5px #7f7f7f;
}
#amina:hover
{
    color: #0065FC;
}
#amina img
{
    width: 230px;
    height: 90px;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px;
    object-fit: cover;
}
#amina h4
{
    font-size: 0.9em ;
    margin: 5px 5px 5px 15px ;
}
#amina p
{
    font-size: 0.7em ; 
    margin: 5px 5px 0px 15px ;
}
#amina i
{
    color:#0065FC;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
}
#amina span i
{
    position: absolute;
    top: 150px;
    left: 77px;
    color:#c1c1c1;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
}

#hebergements h5
{
    font-size: 1em ;  
    margin: 5px 10px 35px 40px ;  
}

/* b)Populaires */

#populaires
{
    display: flex;
    flex-direction: column;
    width: 450px;
    position: relative;
    border: 10px solid #f2f2f2;
    border-radius: 30px;
    background-color:#F2F2F2;   
    margin: 20px 20px 10px 25px ;  
}
#populaires h2 
{
    font-size: 1.2em ;
    font-weight: bold;
    margin: 25px 50px 25px 30px ;  
}
#populaires img
{
    width: 130px;
    height: 130px;
    border-top-left-radius: 25px ;
    border-bottom-left-radius: 25px;
    object-fit: cover;
}
#populaires h4
{
    font-size: 0.9em ;
    font-weight: bold;
    margin: 0px 50px 0px 10px ;
    position: absolute;
    left: 135px;
    top: 25px;
}

#soleil
{
    display: flex;
    flex-wrap:wrap;
    width: 370px;
    height: 130px;
    position: relative;
    border: 3px solid #FFFFFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color:#FFFFFF; 
    box-shadow: 0px 0px 5px #7f7f7f;  
    margin: 15px 20px 15px 28px ;
}
#soleil p
{
    font-size: 0.7em ; 
    position: absolute;
    top: 50px;
    left: 147px;
}
#soleil:hover
{
    color: #0065FC;
}
#eau
{
    display: flex;
    flex-wrap:wrap;
    width: 370px;
    height: 130px;
    position: relative;
    border: 3px solid #FFFFFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color:#FFFFFF; 
    box-shadow: 0px 0px 5px #7f7f7f;
    margin: 15px 20px 15px 28px ;
}
#eau p
{
    font-size: 0.7em ; 
    position: absolute;
    top: 55px;
    left: 147px;
}
#eau:hover
{
    color: #0065FC;
}
#bleu
{
    display: flex;
    flex-wrap:wrap;
    width: 370px;
    height: 130px;
    position: relative;
    border: 3px solid #FFFFFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color:#FFFFFF; 
    box-shadow: 0px 0px 5px #7f7f7f; 
    margin: 15px 20px 25px 28px ;
}
#bleu p
{
    font-size: 0.7em ; 
    position: absolute;
    top: 55px;
    left: 147px;
}
#bleu:hover
{
    color: #0065FC;
}

#populaires i
{
    color:#0065FC;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
}
#populaires span i
{
    position: absolute;
    top: 29px;
    left: 62px;
    color:#c1c1c1;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
}
#etoile i
{
    color:#181818 ;
    border: 0px solid #F2F2F2;
    border-radius: 0px;
    background-color: #F2F2F2;  
    position: absolute;
    top: 20px;
    left: 350px;
}

/* c)Activites */
#activites
{
    flex-direction: row;
}
#activites1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 650px;
    border: 10px solid #FFFFFF;
    border-radius: 30px;
    background-color:#FFFFFF;
}
#activites2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 650px;
    border: 10px solid #FFFFFF;
    border-radius: 30px;
    background-color:#FFFFFF;
}
#activites1 h2
{
    font-size: 1.2em ;
    font-weight: bold;
    margin: 10px 400px 10px 20px ; 
}
#activites1 h4
{
    font-size: 0.9em ;
    font-weight: bold;
    margin: 5px 5px 10px 15px ; 
}
#activites2 h4
{
    font-size: 0.9em ;
    font-weight: bold;
    margin: 5px 5px 10px 15px ; 
}
#activites1 img
{
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    object-fit: cover;
}
#activites2 img
{
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    object-fit: cover;
}

#vieux
{
    width: 250px;
    height: 380px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    background-color:#FFFFFF; 
    box-shadow: 0px 0px 5px #7f7f7f;
    margin: 25px 15px 20px 20px ;
}
#vieux img
{
    width: 250px;
    height: 340px;
}
#vieux:hover
{
    color: #0065FC;
}

#pomegues
{
    width: 250px;
    height: 170px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    background-color:#FFFFFF; 
    box-shadow: 0px 0px 5px #7f7f7f;
    margin: 25px 15px 20px 20px ;
}
#pomegues img
{
    width: 250px;
    height: 130px;
}
#pomegues:hover
{
    color: #0065FC;
}
#frioul
{
    width: 250px;
    height: 170px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    background-color:#FFFFFF; 
    box-shadow: 0px 0px 5px #7f7f7f;
    margin: 25px 15px 20px 20px ;
}
#frioul img
{
    width: 250px;
    height: 130px;
}
#frioul:hover
{
    color: #0065FC;
}
#calanques
{
    width: 250px;
    height: 380px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    background-color:#FFFFFF; 
    box-shadow: 0px 0px 5px #7f7f7f;
    margin: 25px 15px 20px 20px ;
}
#calanques img
{
    width: 250px;
    height: 340px;
}  
#calanques:hover
{
    color: #0065FC;
}
#garde
{
    width: 250px;
    height: 170px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    background-color:#FFFFFF; 
    box-shadow: 0px 0px 5px #7f7f7f;
    margin: 25px 15px 20px 20px ;
}
#garde img
{
    width: 250px;
    height: 130px;
}
#garde:hover
{
    color: #0065FC;
}
#longchamp
{
    width: 250px;
    height: 170px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    background-color:#FFFFFF; 
    box-shadow: 0px 0px 5px #7f7f7f;
    margin: 25px 15px 20px 20px ;
}
#longchamp img
{
    width: 250px;
    height: 130px;
}
#longchamp:hover
{
    color: #0065FC;
}
article
{
    flex-direction: column;
}
/* 7)Footer */

footer
{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    background-color: #f2f2f2;
    margin: 20px 0px 50px 0px ;
}
footer h1
{
    font-weight: normal;
    font-size: 1.2em ;
    font-weight: bold;
    margin: 15px 0px 15px 0px ;
}
footer h1:hover
{
    color: #0065FC;
}
footer h3
{
    font-weight: normal;
    font-size: 0.8em ;
    margin: 10px 0px 10px 0px ;
}
footer h3:hover
{
    color:#FFAD05;
}
footer h4
{
    font-weight: normal;
    font-size: 0.8em ;
    margin: 10px 0px 20px 0px ;
}
footer h4:hover
{
    color:#FFAD05;
}
