
/*Version mobile 391px maquette*/
/* 1)Eléments principaux de la page */

body
{
    font-family: 'Raleway', Arial, sans-serif;
}

/* 2)Navigation */

nav
{
  position: relative;
}
nav img
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 160px;
    width: 120px;
    height: 80px;
    object-fit: cover;
    margin: 50px 0px 50px 0px;
}

nav ul
{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    margin: 10px 0px 0px 0px ;
}
nav li
{
    color: #181818;
    border-bottom: 4px solid #F2F2F2;
    font-size: 1.3em;
    text-decoration: none;
    padding-bottom: 15px;
    padding-right: 80px;
    padding-left: 0px;
}
nav li:hover
{
    color: #0065FC;
    border-bottom: 4px solid #0065FC;
}

/* 3)Header */

header h1
{
    font-size: 1.7em ;
    margin: 20px 0px 0px 15px ;
}
header h3
{
    font-size: 1.2em ;
    font-weight: normal ;
    margin: 5px 5px 30px 15px ;
}

/* 4)Barre de recherche */

span
{
    display: flex;
    justify-content: flex-start;
    margin: 0px 0px 20px 15px ;  
}
span i
{
    height: 35px;
    width: 50px;
    font-size: 1.8em;
    text-align: center;
    padding-top: 5px;
    border: 10px solid #F2F2F2;
    border-bottom-left-radius: 20px ;
    border-top-left-radius: 20px ;
    background-color: #F2F2F2;
}
span input 
{
    height: 60px;
    width: 265px;
    font-size: 1.4em;
    border: 1px solid #F2F2F2;
    border-radius: 0px;
    background-color: #FFFFFF; 
    padding-left: 10px;
}

#recherche span div i
{
    height: 35px;
    width: 50px;
    text-decoration: none;
    font-size: 1.8em;
    text-align: center;
    padding-top: 5px;
    color: #FFFFFF;
    border: 10px solid #0065FC;
    border-bottom-right-radius: 20px ;
    border-top-right-radius: 20px ;
    background-color: #0065FC;
}
#recherche span div i:hover
{
    color: #FFAD05;
}

/* 5)Filtres */

#filtres 
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
}

#filtres h2
{
    font-size: 1.6em ;
    margin: 5px 10px 10px 35px ;
}
#filtres h3
{
    font-size: 1.2em ;
    height: 40px;
    width: 130px ;
}
#economique 
{
    height: 40px;
    width: 160px ;
    position: relative;
    border: 1px solid #DBDADA;
    border-radius: 100px;
    box-shadow: 0px 0px 1px #5a5959;    
}
#economique h3
{
    font-size: 1.2em ;
    position: absolute;
    top: -8px;
    right: 15px;
}
#economique h3:hover
{
    color: #0065FC;
}
#economique i
{
    font-size: 1.3em ;
   color: #0065FC;
   border: 10px solid #DEEBFF;
   border-radius: 100px;
   background-color: #DEEBFF;
}
#famille 
{
    height: 40px;
    width: 110px ;
    position: relative;
    border: 1px solid #DBDADA;
    border-radius: 100px;
    box-shadow: 0px 0px 1px #5a5959;    
    margin: 0px 10px 0px 10px ;   
}
#famille h3 
{
    font-size: 1.3em ;
    position: absolute;
    top: -8px;
    right: 15px;
}
#famille h3:hover
{
    color: #0065FC;
}
#famille i
{
    font-size: 1.3em ;
   color: #0065FC;
   border: 10px solid #DEEBFF;
   border-radius: 100px;
   background-color: #DEEBFF;
}
#romantique
{
    height: 40px;
    width: 160px ;
    position: relative;
    border: 1px solid #DBDADA;
    border-radius: 100px;
    box-shadow: 0px 0px 1px #5a5959;    
    margin: 0px 10px 0px 10px ;
}
#romantique h3
{
    font-size: 1.3em ;
    position: absolute;
    top: -8px;
    right: 15px;
}
#romantique h3:hover
{
    color: #0065FC;
}
#romantique i
{
    font-size: 1.3em ;
    color: #0065FC;
    border: 10px solid #DEEBFF;
    border-radius: 100px;
    background-color: #DEEBFF;
}
#animaux
{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 40px;
    width: 200px ;
    position: relative;
    border: 1px solid #DBDADA;
    border-radius: 100px; 
    box-shadow: 0px 0px 1px #5a5959;    
    margin: 0px 0px 15px 10px ;
}
#animaux h3
{
    font-size: 1.3em ;
    position: absolute;
    top: -8px;
    right: 15px;
}
#animaux h3:hover
{
    color: #0065FC;
}
#animaux i
{
    font-size: 1.3em ;
    color: #0065FC;
    border: 10px solid #DEEBFF;
    border-radius: 100px;
    background-color: #DEEBFF;
}

aside
{
    display: flex;
    margin: 15px 15px 30px 30px ; 
}
aside h3
{
    color : #181818;
    font-size: 1.2em ;
    font-weight: normal ; 
    margin: 5px 5px 5px 5px ; 
}
aside i
{
    height: 20px;
    width: 30px ;
    text-align: center;
    font-size: 1em ;
    padding-top: 2px;
    background-color: #ffffff;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 100px;
    line-height: 20px;
    margin: 5px 5px 5px 5px ; 
    box-shadow: 0px 0px 2px #545454;
}
aside i:hover
{
    color: #FFAD05;
}
/* 6)Main */

h2
{

    font-size: 1em ;
    margin: 50px 300px 50px 5px ;
}
h4
{
    font-size: 0.8em ;
    margin: 5px 0px 5px 0px ;
}
strong
{
    color : #181818;
}
h5
{
    font-size: 0.8em ;
    margin: 5px 5px 30px 50px ;
}


/* a)Populaires */

#populaires
{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-content: flex-start;
    width: 450px;
    height: 730px;
    position: relative;
    border: 10px solid #f2f2f2;
    border-radius: 0px;
    background-color:#F2F2F2;   
}
#populaires h2 
{
    display: flex;
    font-size: 1.7em ;
    margin: 15px 20px 0px 0px ;
}
#populaires h2:hover
{
    color: #0065FC;
}

#soleil
{
    display: flex;
    flex-wrap:wrap;
    position: relative;
    width: 410px;
    height: 165px;
    border: 6px solid #FFFFFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px;
    background-color:#FFFFFF; 
    box-shadow: 0px 2px 3px #d8d8d8; 
    margin: 5px 5px 15px 5px ;
}
#soleil img
{
    width: 155px;
    height: 165px;
    object-fit: cover;
    color:#0065FC;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
    border-top-left-radius: 25px ;
    border-bottom-left-radius: 25px;
}
#soleil h4
{
    font-size: 1.2em ;
    margin: 45px 5px 0px 15px ;
}
#soleil p
{
        color : #737373 ;
        font-size: 1em ; 
        position: relative;
        bottom: 105px;
        left: 170px;
}
#soleil:hover
{
    color: #0065FC;
}
#soleil i
{
    color:#0065FC;
    font-size: 0.8em ; 
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
}
#eau
{
    display: flex;
    flex-wrap:wrap;
    position: relative;
    width: 410px;
    height: 165px;
    border: 5px solid #FFFFFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px;
    background-color:#FFFFFF; 
    box-shadow: 0px 2px 3px #d8d8d8; 
    margin: 5px 5px 15px 5px ;
}
#eau img
{
    width: 155px;
    height: 165px;
    object-fit: cover;
    color:#0065FC;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
    border-top-left-radius: 25px ;
    border-bottom-left-radius: 25px;
}
#eau h4
{
    font-size: 1.2em ;
    margin: 30px 5px 0px 15px ;
}
#eau p
{
    color : #737373 ;
    font-size: 1em ; 
    position: relative;
    bottom: 95px;
    left: 170px;
}
#eau:hover
{
    color: #0065FC;
}
#eau i
{
    color:#0065FC;
    font-size: 0.8em ; 
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
}
#bleu
{
    display: flex;
    flex-wrap:wrap;
    position: relative;
    width: 410px;
    height: 165px;
    border: 5px solid #FFFFFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px;
    background-color:#FFFFFF; 
    box-shadow: 0px 2px 3px #d8d8d8; 
    margin: 5px 5px 5px 5px ;
}
#bleu img
{
    width: 155px;
    height: 165px;
    object-fit: cover;
    color:#0065FC;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
    border-top-left-radius: 25px ;
    border-bottom-left-radius: 25px;
}
#bleu h4
{
    font-size: 1.2em ;
    margin: 30px 5px 0px 15px ;
}
#bleu p
{
    color : #737373 ;
    font-size: 1em ; 
    position: relative;
    bottom: 95px;
    left: 170px;
}
#bleu:hover
{
    color: #0065FC;
}
#bleu i
{
    color:#0065FC;
    font-size: 0.8em ; 
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
}

#etoile i
{
    color:#181818 ;
    font-size: 1.5em ;
    position: relative;
    left: 380px;
    bottom: 40px;
    border: 10px solid #f2f2f2;
    border-radius: 30px;
    background-color:#F2F2F2;   
}

/* b)Hebergements */

#hebergements 
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
    height: 1670px;
    border: 10px solid #ffffff;
    border-radius: 30px;
    background-color:#ffffff;  
    margin: 0px 0px 10px 10px ;  
}
#hebergements h2
{
    display: flex;
    font-size: 1.7em ;
    position: relative;
    left: 25px;
    top: 15px;
    margin: 5px 20px 25px 0px ;
}
#hebergements h2:hover
{
    color: #0065FC;
}
#hebergements h5
{
    font-size: 1.4em ;
    position: relative;
    right: 20px;
    top: 15px;
}
#hebergements h5:hover
{
    color: #FFAD05;
}
#hebergements img
{
    width: 400px;
    height: 130px;
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px;
    object-fit: cover;
}

#hebergements h4
{
    font-size: 1.2em ;
    position: relative;
    left: 15px;
}

#hebergements p
{
    color : #484848 ;
    font-size: 1em ; 
    position: relative;
    bottom: 10px;
    left: 15px;
}
#hebergements i
{
    color:#0065FC;
    font-size: 0.8em ; 
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
    position: relative;
    bottom: 10px;
}

#cannebiere
{
    width: 400px;
    height: 235px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px;
    background-color:#FFFFFF; 
    margin: 5px 15px 5px 15px ;
    box-shadow: 0px 2px 3px #d8d8d8; 
    margin: 15px 15px 5px 15px ;
}
#cannebiere:hover
{
    color: #0065FC;
}
#port
{
    width: 400px;
    height: 235px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px;
    background-color:#FFFFFF; 
    margin: 5px 15px 5px 15px ;
    box-shadow: 0px 2px 3px #d8d8d8; 
    margin: 15px 15px 5px 15px ;
}
#port:hover
{
    color: #0065FC;
}
#mouettes
{
    width: 400px;
    height: 235px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px;
    background-color:#FFFFFF; 
    margin: 5px 15px 5px 15px ;
    box-shadow: 0px 2px 3px #d8d8d8; 
    margin: 15px 15px 5px 15px ;
}
#mouettes:hover
{
    color: #0065FC;
}
#mer
{
    width: 400px;
    height: 235px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px;
    background-color:#FFFFFF; 
    margin: 5px 15px 5px 15px ;
    box-shadow: 0px 2px 3px #d8d8d8; 
    margin: 15px 15px 5px 15px ;
}
#mer:hover
{
    color: #0065FC;
}
#panier
{
    width: 400px;
    height: 235px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px;
    background-color:#FFFFFF; 
    margin: 5px 15px 5px 15px ;
    box-shadow: 0px 2px 3px #d8d8d8; 
    margin: 15px 15px 5px 15px ;
}
#panier:hover
{
    color: #0065FC;
}
#amina
{
    width: 400px;
    height: 235px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px;
    background-color:#FFFFFF; 
    margin: 5px 15px 5px 15px ;
    box-shadow: 0px 2px 3px #d8d8d8; 
    margin: 15px 15px 5px 15px ;
}
#amina:hover
{
    color: #0065FC;
}

/* c)Activites */

#activites
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
    height: 1400px;
    border: 10px solid #ffffff;
    border-radius: 30px;
    background-color:#ffffff;  
    margin: 0px 10px 10px 10px ;  
}
#activites img
{
    width: 400px;
    height: 130px;
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px;
    object-fit: cover;
}
#activites h2
{
    display: flex;
    font-size: 1.7em ;
    position: relative;
    left: 25px;
    top: 15px;
    margin: 15px 20px 25px 0px ;
}
#activites h2:hover
{
    color: #0065FC;
}
#activites h4
{
    font-size: 1.2em ;
    margin: 5px 25px 5px 5px ;
    padding-left: 10px;
    padding-top: 10px;
}

#vieux
{
    width: 400px;
    height: 190px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px;
    background-color:#FFFFFF; 
    box-shadow: 0px 2px 3px #d8d8d8; 
    margin: 15px 15px 15px 15px ;
}

#vieux:hover
{
    color: #0065FC;
}

#pomegues
{
    width: 400px;
    height: 190px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px;
    background-color:#FFFFFF; 
    box-shadow: 0px 2px 3px #d8d8d8; 
    margin: 15px 15px 15px 15px ;
}

#pomegues:hover
{
    color: #0065FC;
}

#frioul
{
    width: 400px;
    height: 190px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px;
    background-color:#FFFFFF; 
    box-shadow: 0px 2px 3px #d8d8d8; 
    margin: 15px 15px 15px 15px ;
}

#frioul:hover
{
    color: #0065FC;
}

#calanques
{
    width: 400px;
    height: 190px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px;
    background-color:#FFFFFF; 
    box-shadow: 0px 2px 3px #d8d8d8; 
    margin: 15px 15px 15px 15px ;
}
 
#calanques:hover
{
    color: #0065FC;
}

#garde
{
    width: 400px;
    height: 190px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    background-color:#FFFFFF; 
    box-shadow: 0px 2px 3px #d8d8d8; 
    margin: 15px 15px 15px 15px ;
}

#garde:hover
{
    color: #0065FC;
}

#longchamp
{
    width: 400px;
    height: 190px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px;
    background-color:#FFFFFF; 
    box-shadow: 0px 2px 3px #d8d8d8; 
    margin: 15px 15px 15px 15px ;
}

#longchamp:hover
{
    color: #0065FC;
}

/* 7)Footer */

footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f2f2;
    margin: 20px 0px 50px 0px ;
}
footer h1
{
    font-size: 1.2em ;
    margin: 20px 5px 15px 25px ;
}
footer h1:hover
{
    color: #FFAD05;
}
footer h3
{
    font-weight: normal;
    font-size: 1em ;
    margin: 15px 15px 10px 25px ;
}
footer h3:hover
{
    color: #0065FC;
}
footer h4
{
    font-weight: normal;
    font-size: 1em ;
    margin: 15px 15px 25px 25px ;
}
footer h4:hover
{
    color: #0065FC;
}
