
/*Version desktop first +992px specifications*/
/* 1)Eléments principaux de la page */

body
{
    font-family: 'Raleway', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/* 2)Navigation */

nav
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav ul
{
    display: flex;
    list-style: none;
}
nav li
{
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 15px;
}
nav li:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 40px;
}
nav img
{
 width: 130px;
 height: 80px;
 object-fit: cover;
 margin: 30px 0px 20px 20px ;
}
nav img:hover
{
    border: 5px solid #ffffff;
    border-radius: 15px;
    background-color:#ffffff;
}
/* 3)Header */

header h1
{
    font-size: 1.4em ;
    font-weight: bold;
    margin: 20px 5px 0px 30px ;
}
header h3
{
    font-size: 0.8em ;
    font-weight: normal ;
    margin: 5px 5px 30px 35px ;
}

/* 4)Barre de recherche */

span
{
    display: flex;
	justify-content: flex-start;
    margin: 0px 0px 30px 35px ;  
}
span i
{
    text-align: center;
    border: 10px solid #F2F2F2;
    border-bottom-left-radius: 10px ;
    border-top-left-radius: 10px ;
    background-color: #F2F2F2;
}
span i:hover
{
    color:#FFAD05
}
span input 
{
    width: 250px;
    height: 38px;
    font-size: 1em;
    border: 1px solid #F2F2F2;
    border-radius: 0px;
    background-color: #FFFFFF; 
    padding-left: 10px;
}
span a
{
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    border: 10px solid #0065FC;
    border-bottom-right-radius: 10px ;
    border-top-right-radius: 10px ;
    background-color: #0065FC;
}
span a:hover
{
    color: #181818;
}

/* 5)Filtres */

#filtres 
{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color:#ffffff;
}
#filtres h2
{
    font-size: 1.2em ;
    font-weight: bold;
    margin: 15px 10px 10px 35px ;
}
#economique 
{
    width: 160px ;
    position: relative;
    border: 1px solid #DBDADA;
    border-radius: 100px;
    box-shadow: 0px 0px 1px #5a5959;    
    margin: 10px 0px 10px 10px ;   
}
#economique h3
{
    font-size: 1em ;
    font-weight: bold;
    position: absolute;
    top: -8px;
    right: 18px;
}
#economique h3:hover
{
    color: #0065FC;
}
#economique i
{
   color: #0065FC;
   border: 10px solid #DEEBFF;
   border-radius: 100px;
   background-color: #DEEBFF;
}
#famille 
{
    width: 110px ;
    position: relative;
    border: 1px solid #DBDADA;
    border-radius: 100px;
    box-shadow: 0px 0px 1px #5a5959;    
    margin: 10px 0px 10px 10px ;      
}
#famille h3 
{
    font-weight: bold;
    font-size: 1em ;
    position: absolute;
    top: -8px;
    right: 18px;
}
#famille h3:hover
{
    color: #0065FC;
}
#famille i
{
   color: #0065FC;
   border: 10px solid #DEEBFF;
   border-radius: 100px;
   background-color: #DEEBFF;
}
#romantique
{
    width: 160px ;
    position: relative;
    border: 1px solid #DBDADA;
    border-radius: 100px;
    box-shadow: 0px 0px 1px #5a5959;    
    margin: 10px 0px 10px 10px ;   
}
#romantique h3
{
    font-size: 1em ;
    font-weight: bold;
    position: absolute;
    top: -8px;
    right: 18px;
}
#romantique h3:hover
{
    color: #0065FC;
}
#romantique i
{
    color: #0065FC;
    border: 10px solid #DEEBFF;
    border-radius: 100px;
    background-color: #DEEBFF;
}
#animaux
{
    width: 200px ;
    position: relative;
    border: 1px solid #DBDADA;
    border-radius: 100px; 
    box-shadow: 0px 0px 1px #5a5959;    
    margin: 10px 0px 10px 10px ;    
}
#animaux h3
{
    font-size: 1em ;
    font-weight: bold;
    position: absolute;
    top: -8px;
    right: 18px;
}
#animaux h3:hover
{
    color: #0065FC;
}
#animaux i
{
color: #0065FC;
border: 10px solid #DEEBFF;
border-radius: 100px;
background-color: #DEEBFF;
}

aside
{
    display: flex;
    color : #707070;
    font-size: 0.6em ;
    font-weight: normal ;  
    margin: 5px 0px 0px 30px ; 
}
aside i
{
    height: 14px;
    width: 14px ;
    text-align: center;
    padding-top: 2px;
    background-color: #ffffff;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 100px;
    line-height: 20px;
    margin: 5px 15px 0px 10px ; 
    box-shadow: 0px 0px 2px #545454;
}
aside i:hover
{
    color: #FFAD05;
}

/* 6)Main */


strong
{
    color : #181818;
}
main
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* a)Hebergements */

#hebergements 
{
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border: 3px solid #f2f2f2;
    border-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#F2F2F2;  
    margin: 20px 0px 10px 25px ;  
}
#hebergements h2
{
    font-size: 1.2em;
    font-weight: bold;
    border: 3px solid #f2f2f2;
    border-radius: 20px;
    background-color:#F2F2F2;  
    margin: 25px 400px 0px 30px ;  
}

#cannebiere
{
    width: 200px;
    height: 175px;
    position: relative;
    border: 3px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#FFFFFF; 
    margin: 25px 10px 20px 15px ;
    box-shadow: 0px 0px 5px #808080;
}
#cannebiere:hover
{
    color: #0065FC;
}
#port
{
    width: 200px;
    height: 175px;
    position: relative;
    border: 3px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#FFFFFF; 
    margin: 25px 10px 20px 15px ;
    box-shadow: 0px 0px 5px #808080;
}
#port:hover
{
    color: #0065FC;
}
#mouettes
{
    width: 200px;
    height: 175px;
    position: relative;
    border: 3px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#FFFFFF; 
    margin: 25px 10px 20px 15px ;
    box-shadow: 0px 0px 5px #808080;
}
#mouettes:hover
{
    color: #0065FC;
}
#mer
{
    width: 200px;
    height: 175px;
    position: relative;
    border: 3px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#FFFFFF; 
    margin: 25px 10px 20px 15px ;
    box-shadow: 0px 0px 5px #808080;
}
#mer:hover
{
    color: #0065FC;
}
#panier
{
    width: 200px;
    height: 175px;
    position: relative;
    border: 3px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#FFFFFF; 
    margin: 25px 10px 20px 15px ;
    box-shadow: 0px 0px 5px #808080;
}
#panier:hover
{
    color: #0065FC;
}
#amina
{
    width: 200px;
    height: 175px;
    position: relative;
    border: 3px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#FFFFFF; 
    margin: 25px 10px 20px 15px ;
    box-shadow: 0px 0px 5px #808080;
}
#amina:hover
{
    color: #0065FC;
}

#hebergements img
{
    width: 200px;
    height: 90px;
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px;
    object-fit: cover;
}
#hebergements h4
{
    font-size: 0.9em ;
    margin: 5px 5px 5px 15px ;
}

#hebergements p
{
    font-size: 0.7em ; 
    margin: 5px 5px 0px 15px ;
}
#hebergements i
{
    color:#0065FC;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
}
#hebergements span i
{
    position: absolute;
    top: 131px;
    left: 68px;
    color:#737373;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
}
#hebergements h5
{
    font-size: 1em ;  
    margin: 5px 10px 25px 50px ;  
}


/* b)Populaires */

#populaires
{
    display: flex;
    flex-direction: column;
    width: 420px;
    position: relative;
    border: 10px solid #f2f2f2;
    border-radius: 30px;
    background-color:#F2F2F2;   
    margin: 20px 20px 10px 25px ;  
}
#populaires h2 
{
    font-size: 1.2em ;
    font-weight: bold;
    margin: 25px 50px 15px 30px ;  
}
#populaires img
{
    width: 120px;
    height: 120px;
    border-top-left-radius: 15px ;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}
#populaires h4
{
    font-size: 0.9em ;
    font-weight: bold;
    margin: 0px 50px 0px 10px ;
    position: absolute;
    left: 125px;
    top: 25px;
}

#soleil
{
    display: flex;
    flex-wrap:wrap;
    width: 350px;
    height: 120px;
    position: relative;
    border: 3px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#FFFFFF; 
    box-shadow: 0px 0px 5px #808080;   
    margin: 15px 0px 15px 0px ;
}
#soleil p
{
    font-size: 0.7em ; 
    position: absolute;
    top: 50px;
    left: 137px;
}
#soleil:hover
{
    color: #0065FC;
}
#eau
{
    display: flex;
    flex-wrap:wrap;
    width: 350px;
    height: 120px;
    position: relative;
    border: 3px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#FFFFFF; 
    box-shadow: 0px 0px 5px #808080; 
    margin: 15px 5px 15px 5px ;
}
#eau p
{
    font-size: 0.7em ; 
    position: absolute;
    top: 55px;
    left: 137px;
}
#eau:hover
{
    color: #0065FC;
}
#bleu
{
    display: flex;
    flex-wrap:wrap;
    width: 350px;
    height: 120px;
    position: relative;
    border: 3px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#FFFFFF; 
    box-shadow: 0px 0px 5px #808080;  
    margin: 15px 5px 15px 5px ;
}
#bleu p
{
    font-size: 0.7em ; 
    position: absolute;
    top: 55px;
    left: 137px;
}
#bleu:hover
{
    color: #0065FC;
}

#populaires i
{
    color:#0065FC;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
}
#etoile i
{
    color:#181818 ;
    border: 0px solid #F2F2F2;
    border-radius: 0px;
    background-color: #F2F2F2;  
    position: absolute;
    top: 20px;
    left: 350px;
}

/* c)Activites */

#activites
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    border: 10px solid #FFFFFF;
    border-radius: 30px;
    background-color:#FFFFFF;
}
#activites h2
{
    font-size: 1.2em ;
    font-weight: bold;
    margin: 10px 900px 10px 20px ; 
}
#activites h4
{
    font-size: 0.9em ;
    font-weight: bold;
    margin: 5px 5px 10px 15px ; 
}
#activites img
{
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    object-fit: cover;
}

#vieux
{
    width: 250px;
    height: 380px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    background-color:#FFFFFF; 
    box-shadow: 0px 0px 5px #808080;
    margin: 25px 15px 20px 20px ;
}
#vieux img
{
    width: 250px;
    height: 340px;
}
#vieux:hover
{
    color: #0065FC;
}

#pomegues
{
    width: 250px;
    height: 170px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    background-color:#FFFFFF; 
    box-shadow: 0px 0px 5px #808080;
    margin: 25px 15px 20px 20px ;
}
#pomegues img
{
    width: 250px;
    height: 130px;
}
#pomegues:hover
{
    color: #0065FC;
}
#frioul
{
    width: 250px;
    height: 170px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    background-color:#FFFFFF; 
    box-shadow: 0px 0px 5px #808080;
    margin: 25px 15px 20px 20px ;
}
#frioul img
{
    width: 250px;
    height: 130px;
}
#frioul:hover
{
    color: #0065FC;
}
#calanques
{
    width: 250px;
    height: 380px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    background-color:#FFFFFF; 
    box-shadow: 0px 0px 5px #808080;
    margin: 25px 15px 20px 20px ;
}
#calanques img
{
    width: 250px;
    height: 340px;
}  
#calanques:hover
{
    color: #0065FC;
}
#garde
{
    width: 250px;
    height: 170px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    background-color:#FFFFFF; 
    box-shadow: 0px 0px 5px #808080;
    margin: 25px 15px 20px 20px ;
}
#garde img
{
    width: 250px;
    height: 130px;
}
#garde:hover
{
    color: #0065FC;
}
#longchamp
{
    width: 250px;
    height: 170px;
    border: 0px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    background-color:#FFFFFF; 
    box-shadow: 0px 0px 5px #808080;
    margin: 25px 15px 20px 20px ;
}
#longchamp img
{
    width: 250px;
    height: 130px;
}
#longchamp:hover
{
    color: #0065FC;
}

/* 7)Footer */

footer
{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    background-color: #f2f2f2;
    margin: 20px 0px 50px 0px ;
}
footer h1
{
    font-weight: normal;
    font-size: 1.2em ;
    font-weight: bold;
    margin: 15px 0px 15px 0px ;
}
footer h1:hover
{
    color: #0065FC;
}
footer h3
{
    font-weight: normal;
    font-size: 0.8em ;
    margin: 10px 0px 10px 0px ;
}
footer h3:hover
{
    color:#FFAD05;
}
footer h4
{
    font-weight: normal;
    font-size: 0.8em ;
    margin: 10px 0px 20px 0px ;
}
footer h4:hover
{
    color:#FFAD05;
}