
/*Version mobile -768px maquette*/
/* 1)Eléments principaux de la page */

@media screen and (max-width: 768px) {
    
body
{
    font-family: 'Raleway', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    border: 1px solid #ffffff;
    border-radius: 0px;
    background-color:#ffffff;
}

/* 1)Eléments principaux de la page */


/* 2)Navigation */
nav
{
    display: flex;
    justify-content: center;
}
nav img
{
    width: 150px;
    height: 100px;
    object-fit: cover;
    margin: 25px 150px 25px 150px;
}
nav ul
{
    list-style: none;
}
nav li
{
    color: #181818;
    border-bottom: 4px solid #F2F2F2;
    font-size: 1.4em;
    text-decoration: none;
    padding-bottom: 30px;
    padding-right: 85px;
    padding-left: 85px;
    margin: 0%;
}
nav li:hover
{
    color: #0065FC;
    border-bottom: 4px solid #0065FC;
    border-top: none;
}

/* 3)Header */

header h1
{

    font-size: 1.9em ;
    margin: 20px 0px 0px 10px ;
}
header h3
{
    font-size: 1.3em ;
    font-weight: normal ;
    margin: 5px 5px 30px 15px ;
}

/* 4)Barre de recherche */

span
{
    display: flex;
    justify-content: flex-start;
    margin: 0px 0px 20px 15px ;  
}
span i
{
    height: 35px;
    width: 45px;
    font-size: 1.7em;
    padding-top: 5px;
    text-align: center;
    border: 10px solid #F2F2F2;
    border-bottom-left-radius: 20px ;
    border-top-left-radius: 20px ;
    background-color: #F2F2F2;

}
span input 
{
    height: 60px;
    width: 220px;
    font-size: 1.3em;
    border: 1px solid #F2F2F2;
    border-radius: 0px;
    background-color: #FFFFFF; 
    padding-left: 10px;
}
span a
{
    height: 35px;
    width: 135px;
    font-size: 1.4em;
    text-align: center;
    padding-top: 5px;
    color: #FFFFFF;
    border: 10px solid #0065FC;
    border-bottom-right-radius: 20px ;
    border-top-right-radius: 20px ;
    border-bottom-left-radius: 20px ;
    border-top-left-radius: 20px ;
    background-color: #0065FC;
}
span a:hover
{
    color: #181818;
}

/* 5)Filtres */

#filtres 
{
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 1px solid #ffffff;
    border-radius: 0px;
    background-color:#ffffff;
}
#filtres h2
{
    font-size: 1.7em ;
    font-weight: bold;
}
#economique 
{
    width: 220px ;
    position: relative;
    border: 1px solid #DBDADA;
    border-radius: 100px;
    box-shadow: 0px 0px 1px #5a5959;    
    margin: 10px 10px 10px 10px ;    
}
#economique h3
{
    font-size: 1.4em ;
    font-weight: bold;
    position: absolute;
    top: -15px;
    right: 25px;
}

#economique i
{
   font-size: 1.4em ;
   color: #0065FC;
   border: 10px solid #DEEBFF;
   border-radius: 100px;
   background-color: #DEEBFF;
}
#famille 
{
    width: 155px ;
    position: relative;
    border: 1px solid #DBDADA;
    border-radius: 100px;
    box-shadow: 0px 0px 1px #5a5959;    
    margin: 10px 10px 10px 10px ;    
}
#famille h3 
{
    font-size: 1.4em ;
    font-weight: bold;
    position: absolute;
    top: -15px;
    right: 25px;
}
#famille i
{
   font-size: 1.4em ;
   color: #0065FC;
   border: 10px solid #DEEBFF;
   border-radius: 100px;
   background-color: #DEEBFF;
}
#romantique
{
    width: 210px ;
    position: relative;
    border: 1px solid #DBDADA;
    border-radius: 100px;
    box-shadow: 0px 0px 1px #5a5959;    
    margin: 10px 10px 10px 10px ;      
}
#romantique h3
{
    font-size: 1.4em ;
    font-weight: bold;
    position: absolute;
    top: -15px;
    right: 25px;
}
#romantique i
{
    font-size: 1.4em ;
    color: #0065FC;
    border: 10px solid #DEEBFF;
    border-radius: 100px;
    background-color: #DEEBFF;
}
#animaux
{
    width: 280px ;
    position: relative;
    border: 1px solid #DBDADA;
    border-radius: 100px; 
    box-shadow: 0px 0px 1px #5a5959;    
    margin: 10px 10px 10px 10px ;    
}
#animaux h3
{
    font-size: 1.4em ;
    font-weight: bold;
    position: absolute;
    top: -15px;
    right: 25px;
}
#animaux i
{
    font-size: 1.4em ;
    color: #0065FC;
    border: 10px solid #DEEBFF;
    border-radius: 100px;
    background-color: #DEEBFF;
}
aside h3
{
    color : #181818;
    font-size: 1.8em ;
    font-weight: normal ; 
    margin: 5px 5px 5px 5px ; 
}
aside i
{
    height: 20px;
    width: 20px ;
    text-align: center;
    font-size: 1.6em ;
    padding-top: 2px;
    background-color: #ffffff;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 100px;
    line-height: 20px;
    margin: 5px 15px 0px 10px ; 
    box-shadow: 0px 0px 2px #545454;
}
aside i:hover
{
    color: #FFAD05;
}


/* 6)Main */
/* a)Populaires */
#populaires
{
    width: 760px;
    flex-direction: column;
    position: relative;
    border: 10px solid #f2f2f2;
    border-radius: 0px;
    background-color:#F2F2F2;    
}
#populaires h2
{
    font-size: 1.6em;
    font-weight: bold; 
    border: 10px solid #F2F2F2;  
    border-radius: 30px;
    background-color:#F2F2F2;  
    margin: 10px 30px 10px 30px;
}
#populaires img
{
    width: 150px;
    height: 150px;
    border: 0px solid #ffffff;
    border-radius: 0px;
    border-top-left-radius: 30px ;
    border-bottom-left-radius: 30px;
    background-color:#FFFFFF;  
}

#soleil
{
    width: 430px;
    height: 150px;
    position: relative;
    border: 4px solid #ffffff;
    border-radius: 30px;
    background-color:#FFFFFF;   
    margin: 10px 30px 10px 30px;
}
#soleil h4
{
    font-size: 1.2em ;
    font-weight: bold;
    position: absolute;
    left: 160px;
    top: 25px;
}
#soleil p
{
    font-size: 0.9em ; 
    position: absolute;
    top: 50px;
    left: 170px;
}
#eau
{
    width: 430px;
    height: 150px;
    position: relative;
    border: 4px solid #ffffff;
    border-radius: 30px;
    background-color:#FFFFFF;   
    margin: 10px 30px 10px 30px;
}
#eau h4
{
    font-size: 1.2em ;
    font-weight: bold;
    margin: 0px 50px 0px 10px ;
    position: absolute;
    left: 160px;
    top: 25px;
}
#eau p
{
    font-size: 0.9em ; 
    position: absolute;
    top: 73px;
    left: 170px;
}
#bleu
{
    width: 430px;
    height: 150px;
    position: relative;
    border: 4px solid #ffffff;
    border-radius: 30px;
    background-color:#FFFFFF;   
    margin: 10px 30px 10px 30px;
}
#bleu h4
{
    font-size: 1.2em ;
    font-weight: bold;
    margin: 0px 50px 0px 10px ;
    position: absolute;
    left: 160px;
    top: 25px;
}
#bleu  p
{
    font-size: 0.9em ; 
    position: absolute;
    top: 73px;
    left: 170px;
}
#etoile i
{
    font-size: 1.5em ; 
    color:#181818 ;
    border: 0px solid #F2F2F2;
    border-radius: 0px;
    background-color: #F2F2F2;  
    position: absolute;
    top: 20px;
    left: 430px;
}
/* b)Hebergements */

#hebergements
{
    width: 760px;
    flex-direction: column;
    position: relative;
    border: 10px solid #ffffff;
    border-radius: 30px;
    background-color:#FFFFFF;   
    margin: 20px 20px 10px 25px ;  
}
#hebergements h2
{
    font-size: 1.6em;
    font-weight: bold; 
    border: 10px solid #ffffff;
    border-radius: 30px;
    background-color:#FFFFFF;   
    margin: 10px 30px 10px 30px;
}
#hebergements  h4
{
    font-size: 1.2em ;
}
#hebergements p
{
    font-size: 0.9em ;
}
#hebergements img
{
    width: 350px;
    height: 110px;
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px;
}
#cannebiere
{
    width: 350px;
    height: 220px;
    position: relative;
    border: 0px solid #ffffff;
    border-radius: 30px;
    background-color:#FFFFFF;   
    margin: 10px 30px 10px 30px;
}    
#port
{
    width: 350px;
    height: 220px;
    position: relative;
    border: 0px solid #ffffff;
    border-radius: 30px;
    background-color:#FFFFFF;   
    margin: 10px 30px 10px 30px;
}
#mouettes
{
    width: 350px;
    height: 220px;
    position: relative;
    border: 0px solid #ffffff;
    border-radius: 30px;
    background-color:#FFFFFF;   
    margin: 10px 30px 10px 30px;
}
#mer
{
    width: 350px;
    height: 220px;
    position: relative;
    border: 0px solid #ffffff;
    border-radius: 30px;
    background-color:#FFFFFF;   
    margin: 10px 30px 10px 30px;
}
#panier
{
    width: 350px;
    height: 220px;
    position: relative;
    border: 0px solid #ffffff;
    border-radius: 30px;
    background-color:#FFFFFF;   
    margin: 10px 30px 10px 30px;
}
#amina
{
    width: 350px;
    height: 220px;
    position: relative;
    border: 0px solid #ffffff;
    border-radius: 30px;
    background-color:#FFFFFF;   
    margin: 10px 30px 10px 30px;
}
#hebergements h5
{
    font-size: 1.4em ;  
    margin: 10px 30px 10px 50px ;  
}
/* c)Activites */


#activites
{
    width: 760px;
    flex-direction: column;
    position: relative;
    border: 10px solid #FFFFFF;  
    border-radius: 30px;
    background-color:#FFFFFF;    
}
#activites h2
{
    font-size: 1.6em;
    font-weight: bold; 
    border: 10px solid #ffffff;
    border-radius: 30px;
    background-color:#FFFFFF;   
    margin: 10px 30px 10px 30px;
}
#activites h4
{
    font-size: 1.2em ;
    font-weight: bold;
}
#activites img
{

    width: 350px;
    height: 160px;
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px;

}
#vieux
{
    width: 350px;
    height: 210px;
    position: relative;
    border: 0px solid #ffffff;
    border-radius: 30px;
    background-color:#FFFFFF;   
    margin: 10px 30px 10px 30px;
}
#pomegues
{
    width: 350px;
    height: 210px;
    position: relative;
    border: 0px solid #ffffff;
    border-radius: 30px;
    background-color:#FFFFFF;   
    margin: 10px 30px 10px 30px;
}
#frioul
{
    width: 350px;
    height: 210px;
    position: relative;
    border: 0px solid #ffffff;
    border-radius: 30px;
    background-color:#FFFFFF;   
    margin: 10px 30px 10px 30px;
}
#calanques
{
    width: 350px;
    height: 210px;
    position: relative;
    border: 0px solid #ffffff;
    border-radius: 30px;
    background-color:#FFFFFF;   
    margin: 10px 30px 10px 30px;
}
#garde
{
    width: 350px;
    height: 210px;
    position: relative;
    border: 0px solid #ffffff;
    border-radius: 30px;
    background-color:#FFFFFF;   
    margin: 10px 30px 10px 30px;
}
#longchamp
{
    width: 350px;
    height: 210px;
    position: relative;
    border: 0px solid #ffffff;
    border-radius: 30px;
    background-color:#FFFFFF;   
    margin: 10px 30px 10px 30px;
}

/* 7)Footer */

footer
{
    width: 760px;
    flex-direction: column;
    background-color: #f2f2f2;
}
footer h1
{
    font-size: 1.4em ;
    font-weight: bold;
    margin: 10px 30px 10px 30px;
}

footer h3
{
    font-weight: normal;
    font-size: 1em ;
    margin: 10px 30px 10px 30px;
}

footer h4
{
    font-weight: normal;
    font-size: 1em ;
    margin: 10px 300px 10px 30px;
}

}