
/* 1)Eléments principaux de la page */

body
{
    font-family: 'Raleway', Arial, sans-serif;
}

/* 2)Navigation */

nav
{
	display: flex;
	justify-content: space-between;
}
nav ul
{
    display: flex;
    list-style: none;
}
nav li
{
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
    justify-content: space-between;
    margin: 30px 20px 0px 30px ;

}
nav li:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 40px;
}
nav img
{
 width: 100px;
 height: 60px;
 object-fit: cover;
 margin: 30px 0px 20px 20px ;
}

/* 3)Header */

header h1
{
    font-size: 1.2em ;
    margin: 20px 5px 0px 30px ;
}
header h3
{
    color : #737373 ;
    font-size: 0.8em ;
    font-weight: normal ;
    margin: 5px 5px 30px 30px ;
}

/* 4)Barre de recherche */

span
{
    display: flex;
	justify-content: flex-start;
    margin: 0px 0px 20px 30px ;  
}
span i
{
    height: 20px;
    border: 10px solid #F2F2F2;
    border-bottom-left-radius: 10px ;
    border-top-left-radius: 10px ;
    background-color: #F2F2F2;
}
span input 
{
    height: 40px;
    border: 1px solid #F2F2F2;
    border-radius: 0px;
    background-color: #FFFFFF; 
}
span a
{
    height: 20px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    border: 10px solid #0065FC;
    border-bottom-right-radius: 10px ;
    border-top-right-radius: 10px ;
    background-color: #0065FC;
}
span a:hover
{
    color: #181818;
}

/* 5)Filtres */

#recherche div
{
	display: flex;
    justify-content: flex-start;
    position: relative;
}

#recherche h2
{
    font-size: 1em ;
    margin: 5px 10px 10px 30px ;
}
#recherche h3
{
    position: relative;
    bottom: 8px;
    font-size: 0.9em ;
    height: 40px;
    width: 100px ;
    padding-left: 10px;
}
#recherche h4
{
    font-size: 0.9em ;
    height: 40px;
    width: 140px ;
    padding-left: 10px;
}
#recherche div i
{
    border: 10px solid #DEEBFF;
    font-size: 12px;
    background-color: #DEEBFF;
    border-radius: 100px;
    color: #0065FC;
}
#economique
{
    height: 30px;
    width: 145px ;
    border: 1px solid #DBDADA;
    border-radius: 100px;
    margin: 0px 0px 0px 10px ;
}
#famille
{
    height: 30px;
    width: 105px ;
    border: 1px solid #DBDADA;
    border-radius: 100px;
    margin: 0px 0px 0px 10px ;
}
#romantique
{
    height: 30px;
    width: 140px ;
    border: 1px solid #DBDADA;
    border-radius: 100px;
    margin: 0px 0px 0px 10px ;
}
#animaux
{
    height: 30px;
    width: 190px ;
    border: 1px solid #DBDADA;
    border-radius: 100px; 
    margin: 0px 0px 0px 10px ;
}
aside
{
    display: flex;
    color : #bdbdbd;
    font-size: 0.6em ;
    font-weight: normal ;  
    margin: 5px 0px 30px 30px ; 
}
aside i
{
    height: 14px;
    width: 14px ;
    text-align: center;
    padding-top: 2px;
    background-color: #ffffff;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 100px;
    line-height: 20px;
    margin: 5px 15px 30px 10px ; 
    box-shadow: 0px 0px 2px #545454;
}

/* 6)Main */

h2
{

    font-size: 1em ;
    margin: 50px 300px 50px 5px ;
}
h4
{
    font-size: 0.8em ;
    margin: 5px 5px 5px 5px ;
}
strong
{
    color : #181818;
}
h5
{
    font-size: 0.8em ;
    margin: 5px 5px 30px 50px ;
}
main
{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: flex-start;
}

/* a)Hebergements */

#hebergements 
{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: flex-start;
    width: 800px;
    height: 600px;
    border: 10px solid #f2f2f2;
    border-radius: 30px;
    background-color:#F2F2F2;    
}
#hebergements h2
{
    font-size: 1em ;
    margin: 20px 400px 0px 0px ;
    position: relative;
    right: 60px;
}
#hebergements h5
{
    font-size: 0.8em ;  
    margin: 0px 0px 0px 500px ;
    position: relative;
    right: 570px;
}
#cannebiere
{
    border: 5px solid #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    background-color:#FFFFFF; 
    margin: 5px 5px 5px 5px ;
    box-shadow: 0px 0px 5px #5a5959;
}
#port
{
    border: 5px solid #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    background-color:#FFFFFF; 
    margin: 5px 5px 5px 5px ;
    box-shadow: 0px 0px 5px #5a5959;
}
#mouettes
{
    border: 5px solid #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    background-color:#FFFFFF; 
    margin: 5px 5px 5px 5px ;
    box-shadow: 0px 0px 5px #5a5959;
}
#mer
{
    border: 5px solid #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    background-color:#FFFFFF; 
    margin: 5px 5px 5px 5px ;
    box-shadow: 0px 0px 5px #5a5959;
}
#panier
{
    border: 5px solid #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    background-color:#FFFFFF; 
    margin: 5px 5px 5px 5px ;
    box-shadow: 0px 0px 5px #5a5959;
}
#amina
{
    border: 5px solid #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    background-color:#FFFFFF; 
    margin: 5px 5px 5px 5px ;
    box-shadow: 0px 0px 5px #5a5959;
}
#hebergements img
{
    width: 200px;
    height: 80px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    object-fit: cover;
}

#hebergements h4
{
    font-size: 0.8em ;
}

#hebergements p
{
    color : #484848 ;
    font-size: 0.6em ; 
    margin: 5px 5px 15px 5px ;
}
#hebergements i
{
    color:#0065FC;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    background-color:#FFFFFF;   
    margin: 5px 0px 5px 0px ;
}

/* b)Populaires */

#populaires
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
    width: 400px;
    height: 700px;
    position: relative;
    border: 10px solid #f2f2f2;
    border-radius: 30px;
    background-color:#F2F2F2;   
    margin: 5px 5px 5px 5px ;
}
#populaires h2 
{
    display: flex;
    font-size: 1em ;
    margin: 5px 15px 5px 5px ;
    position: relative;
    left: 20px;
}
#soleil
{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    align-content: flex-start;
    width: 300px;
    height: 150px;
    border: 5px solid #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    background-color:#FFFFFF; 
    box-shadow: 0px 0px 5px #5a5959;    
    margin: 0px 5px 0px 5px ;
}
#eau
{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    align-content: flex-start;
    width: 300px;
    height: 150px;
    border: 5px solid #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    background-color:#FFFFFF; 
    box-shadow: 0px 0px 5px #5a5959;    
    margin: 0px 5px 0px 5px ;
}
#bleu
{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    align-content: flex-start;
    width: 300px;
    height: 150px;
    border: 5px solid #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    background-color:#FFFFFF; 
    box-shadow: 0px 0px 5px #5a5959;    
    margin: 0px 5px 0px 5px ;
}

#populaires img
{
    width: 100px;
    height: 150px;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
    object-fit: cover;
}
#populaires h4
{
    font-size: 0.8em ;
    margin: 0px 50px 0px 10px ;
}
#populaires p
{
    color : #737373 ;
    font-size: 0.6em ; 
    position: relative;
    bottom: 50px;
    margin: 0px 0px 0px 120px ;
}
#populaires i
{
    color:#0065FC;
}
#etoile i
{
    color:#181818 ;
    position: relative;
    left: 350px;
    bottom: 50px;
}


/* c)Activites */

#activites
{
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
}
#activites img
{
    width: 150px;
    height: 100px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    object-fit: cover;
}
#activites i
{
    color:#0065FC;
}
#activites span i
{
    color:#CFCCCC;
}
#vieux img
{
    width: 250px;
    height: 350px;
}
#pomegues img
{
    width: 300px;
    height: 130px;
}
#frioul img
{
    width: 300px;
    height: 130px;
}
#calanques img
{
    width: 250px;
    height: 350px;
}  
#garde img
{
    width: 300px;
    height: 130px;
}
#longchamp img
{
    width: 300px;
    height: 130px;
}

/* 7)Footer */

footer
{
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    margin: 50px 0px 50px 0px ;
}
footer h1
{
    font-weight: normal;
    font-size: 1.2em ;
    margin: 20px 5px 7px 5px ;
}
footer h3
{
    color : #737373 ;
    font-weight: normal;
    font-size: 0.8em ;
    margin: 5px 15px 5px 5px ;
}
footer h4
{
    color : #737373 ;
    font-weight: normal;
    font-size: 0.8em ;
    margin: 5px 15px 20px 5px ;
}

