
/*Version tablette 768px à 992px specifications*/


@media screen and (min-width: 768px) and (max-width: 992px) {

body
{
    font-family: 'Raleway', Arial, sans-serif;
}

/* 1)Eléments principaux de la page */

/* 2)Navigation */

nav
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* 3)Header */

/* 4)Barre de recherche */

/* 5)Filtres */

/* 6)Main */
/* a)Hebergements */


#cannebiere
{
    margin: 25px 10px 15px 30px ;
}
#port
{
    margin: 25px 10px 20px 10px ;
}
#mouettes
{
    margin: 25px 10px 15px 10px ;
}
#mer
{
    margin: 25px 10px 20px 30px ;
}
#panier
{
    margin: 25px 10px 15px 10px ;
}
#amina
{
    margin: 25px 10px 20px 10px ;
}

/* b)Populaires */
#populaires
{
    width: 400px;
}
#soleil
{
    width: 320px;
}
#eau
{
    width: 320px;
}
#bleu
{
    width: 320px;
}

/* c)Activites */

#activites
{
    min-width: 1600px;
    width: 600px;
}
#activites h2
{
    font-size: 1.2em ;
    font-weight: bold;
    margin: 10px 140px 10px 0px ; 
    padding-right: 180px;
}

/* 7)Footer */

}